.ball {
  width: 100%;
  height: 100%;
  max-width: 70px;
  max-height: 70px;
  margin-bottom: 10px;
  border: 1px solid grey;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s linear;
  font-family: 'Shadows Into Light', cursive;
  font-size: 28px;
  animation: ballDrop 0.3s ease-in forwards;
  &.white {
    background-color: white;
  }
  &.black {
    background-color: black;
    color: white;
  }
  &.win {
    background-color: green;
    color: white;
  }
}

@keyframes ballDrop {
  from {
    opacity: 0;
    transform: translateY(-700%);
  }

  80% {
    transform: translateY(-25%);
  }
  85% {
    transform: translateY(-35%);
  }
  90% {
    transform: translateY(-45%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
