@media only screen and (max-width: 600px) {
  h1 {
    font-size: 45px !important;
  }
  .screen__header {
    width: 90% !important;
  }
}
.screen__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  max-width: 450px;
}

.balls {
  width: 40px;
  height: 40px;
  border: none !important;
  border-radius: 50%;
  transition: all 0.2s linear;
  &:hover {
    filter: invert(100%);
  }
}

.left {
  background-color: white;
}
.right {
  background-color: black;
}
