.btn__group {
  display: flex;
  div {
    cursor: pointer;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 5px;
  }
  .white {
    background-color: white;
  }
  .black {
    background-color: black;
  }
}
