@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap');
.app {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 70px;
    position: relative;
    &:after {
      content: '';
      border: 2px solid black;
      width: 100%;
      position: absolute;
    }
  }
  .none {
    top: 50%;
    opacity: 0;
    height: 0px;
    width: 0px;
  }
}
