@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap');

@media only screen and (max-width: 600px), (max-height: 700px) {
  .choose__button {
    font-size: 5em !important;
  }
  h1 {
    font-size: 40px !important;
  }
  .ball {
    max-height: calc(350px / 8) !important;
  }
  .board__ball {
    height: 45px !important;
    width: 45px !important;
  }
  .board__header {
    width: 80% !important;
  }
  .wrap__column {
    height: 350px !important;
    width: calc(340px / 8) !important;
  }
  .screen__header {
    width: 90% !important;
  }
  .btn__group {
    div {
      width: 100px !important;
      height: 100px !important;
    }
  }
}
.app {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 70px;
    position: relative;
    &:after {
      content: '';
      border: 2px solid black;
      width: 100%;
      position: absolute;
    }
  }
  .none {
    top: 50%;
    opacity: 0;
    height: 0px;
    width: 0px;
    pointer-events: none;
  }
  .choose__button {
    margin: 0;
    padding: 20px;
    background-color: transparent;
    outline: none !important;
    border: none;
    cursor: pointer;
    font-size: 7em;
    transition: all 0.2s linear;
    border-radius: 5px;

    &:hover {
      background-color: black;
      color: white;
    }
  }
}
