@media only screen and (max-width: 600px) {
  h1 {
    font-size: 45px !important;
  }
  .screen__header {
    width: 90% !important;
  }
}
.screen__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  background-color: grey;
  h1 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 70px;
    position: relative;
    &:after {
      content: '';
      border: 2px solid black;
      width: 100%;
      position: absolute;
    }
  }
}
.start__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  border: 0;
  outline: none !important;
  font-size: 7em;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s linear;
  margin-bottom: 100px;
  &:hover {
    color: white;
    background-color: black;
  }
}

.balls {
  width: 40px;
  height: 40px;
  border: none !important;
  border-radius:50%;
  transition:all .2s linear;
  &:hover {
    filter: invert(100%);
  }
}
.left {
  background-color: white;
  border: 1px solid black;
}
.right {
  background-color: black;
  border: 1px solid white;
}
.screen__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}
